<div class="card user-card">
  <div class="card-header bg-primary text-white">
    <%= link_to edit_user_path(user.id), class: "float-right text-light" do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <h3 class="card-title"><i class="fas fa-user"></i> <%= card_title %></h3>
  </div>
  <div class="card-body">
    <p class="card-text"><strong>Name:</strong> <%= user.username %></p>
    <p class="card-text mb-0"><strong>Address:</strong></p>
    <hr class="mt-0">
    <p class="card-text"><%= "#{user.street}<br>#{user.city}, #{user.province.abbreviation}<br>#{user.postal_code}".html_safe %></p>
  </div>
</div>