<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= render @user, card_title: 'Your Profile' %>
  </div>
</div>
<% if @user.admin %>
  <div class="row mt-3">
    <div class="col-lg-6 offset-lg-3 text-center">
      <h5>You have admin privileges.<br>Click here to access site management tools.</h5>
      <%= link_to "Admin Dashboard", "/admin", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
