<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 ><span class="glyphicon glyphicon-user text-muted"></span> Your Profile</h2>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Address</h3>
      </div>
      <div class="panel-body">
        <p><%= "#{@user.street}<br>#{@user.city}, #{@user.province.abbreviation}<br>#{@user.postal_code}".html_safe %></p>
      </div>
    </div>
  </div>
</div>
<% if @user.admin %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h5>You have admin privileges.<br>Click here to access site management tools.</h5>
      <%= link_to "Admin Dashboard", "/admin", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
