<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2 ><span class="fas fa-user text-muted"></span> Your Profile</h2>
    <div class="card">
      <div class="card-header bg-info">
        <h3 class="card-title">Address</h3>
      </div>
      <div class="card-body">
        <p class="card-text"><%= "#{@user.street}<br>#{@user.city}, #{@user.province.abbreviation}<br>#{@user.postal_code}".html_safe %></p>
      </div>
    </div>
  </div>
</div>
<% if @user.admin %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3 text-center">
      <h5>You have admin privileges.<br>Click here to access site management tools.</h5>
      <%= link_to "Admin Dashboard", "/admin", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
