<% provide(:title, 'Checkout') %>
<div class="row mb-3">
  <div class="col-md-7">
    <h3 class="display-4">Review your order</h3>
    <div class="col-sm-9 px-0">
      <%= render current_user, card_title: 'Your Info' %>
    </div>
  </div>
</div>
<%= render 'orders/invoice_table', order: current_order %>
<%= link_to "Place Order", placeorder_path, method: 'patch', class: 'btn btn-success float-right' %>