<div class="text-center">
  <h3>To continue with your order please:</h3>
  <p>
    <%= link_to "Log In", login_path(redirect: checkout_path), class: 'btn btn-success p-4' %>
    <strong class="mx-3">OR</strong>
    <%= link_to "Sign Up", signup_path(redirect: checkout_path), class: 'btn btn-success p-4' %>
</div>