<% provide(:title, "Home") %>
<h1>Home Page</h1>
<section>
  <% @categories.each do |category| %>
    <div class="card mb-3">
      <div class="card-header" data-toggle="collapse" data-target="#category<%= category.id %>">
        <h4><%= category.name %><span class="float-right mt-2 fas fa-chevron-down"></span></h4>
      </div>
      <div id="category<%= category.id %>" class="collapse">
        <div class="card-body">
          <div class="row">
            <% category.products.each do |product| %>
              <div class="card">
                <div class="card-body">
                  <p class="card-text"><%= product.name %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>

